.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.tabs {
  display: flex;
  align-items: stretch;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.tabs ul {
  display: flex;
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  border: none;
}

.tabs li {
  display: block;
}

.tabs a {
  align-items: center;
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  vertical-align: top;
  font-size: 14px;
}
