.article .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article .date,
.article .title {
  margin: 0px;
  padding: 0px;
}
/*全局属性*/
.article {
  font-size: 16px;
  color: black;
  padding: 30px;
  line-height: 1.6;
  word-spacing: 0px;
  letter-spacing: 0px;
  word-break: break-word;
  word-wrap: break-word;
  text-align: left;
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*段落*/
.article p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  line-height: 26px;
  color: black;
}

/*标题*/
.article h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
}
.article h1 {
  font-size: 28px;
}
.article h2 {
  font-size: 24px;
}
.article h3 {
  font-size: 20px;
}
.article h4 {
  font-size: 18px;
}
.article h5 {
  font-size: 16px;
}
.article h6 {
  font-size: 16px;
}

/*列表*/
.article ul,
.article ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 25px;
  color: black;
}
.article ul {
  list-style-type: disc;
}
.article ul ul {
  list-style-type: square;
}

.article ol {
  list-style-type: decimal;
}

.article li section {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 26px;
  text-align: left;
  color: rgb(1, 1, 1); /* 只要是纯黑色微信编辑器就会把color这个属性吞掉。。。*/
  font-weight: 500;
}

/*引用*/
.article blockquote {
  display: block;
  font-size: 0.9em;
  overflow: auto;
  overflow-scrolling: touch;
  border-left: 3px solid rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.05);
  color: #6a737d;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.article blockquote p {
  margin: 0px;
  color: black;
  line-height: 26px;
}

.article .table-of-contents a {
  border: none;
  color: black;
  font-weight: normal;
}

/*链接*/
.article a {
  text-decoration: none;
  color: #1e6bb8;
  word-wrap: break-word;
  font-weight: bold;
  border-bottom: 1px solid #1e6bb8;
}

/*加粗*/
.article strong {
  font-weight: bold;
  color: black;
}

/*斜体*/
.article em {
  font-style: italic;
  color: black;
}

/*加粗斜体*/
.article strong em {
  font-weight: bold;
  color: black;
}

/*删除线*/
.article del {
  font-style: italic;
  color: black;
}

/*分隔线*/
.article hr {
  height: 1px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid black;
}

/*代码块*/
.article pre {
  margin-top: 10px;
  margin-bottom: 10px;
}
.article pre code {
  display: block;
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  border-radius: 0px;
  font-size: 12px;
  -webkit-overflow-scrolling: touch;
}
.article pre code span {
  line-height: 26px;
}

/*行内代码*/
.article p code,
li code {
  font-size: 14px;
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  color: #1e6bb8;
  background-color: rgba(27, 31, 35, 0.05);
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  word-break: break-all;
}

/*图片*/
.article img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

/*图片*/
.article figure {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*图片描述文字*/
.article figcaption {
  margin-top: 5px;
  text-align: center;
  color: #888;
  font-size: 14px;
}

/*表格*/
.article table {
  display: table;
  text-align: left;
}
.article tbody {
  border: 0;
}

.article table tr {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}

.article table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.article table tr th,
table tr td {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}

.article table tr th {
  font-weight: bold;
  background-color: #f0f0f0;
}

.article .footnote-word {
  color: #1e6bb8;
  font-weight: bold;
}

.article .footnote-ref {
  color: #1e6bb8;
  font-weight: bold;
}

.article .footnote-item {
  display: flex;
}

.article .footnote-num {
  display: inline;
  width: 10%; /*神奇，50px就不可以*/
  background: none;
  font-size: 80%;
  opacity: 0.6;
  line-height: 26px;
  font-family: ptima-Regular, Optima, PingFangSC-light, PingFangTC-light,
    "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.article .footnote-item p {
  display: inline;
  font-size: 14px;
  width: 90%;
  padding: 0px;
  margin: 0;
  line-height: 26px;
  color: black;
  word-break: break-all;
  width: calc(100%-50);
}

.article sub,
sup {
  line-height: 0;
}
