.container {
  display: flex;
  flex-direction: row;
  padding: 40px;
  align-items: flex-start;
  justify-content: center;
  background-color: #000;
}

.openContainer,
.moreContainer,
.noticeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 40px;
}

.container p,
.container a {
  color: white;
  margin: 6px 0;
  font-size: 14px;
}

.container h2 {
  color: white;
  font-size: 16px;
  margin-bottom: 12px;
}

.container a:hover {
  color: #af76e8;
}

.row {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
  margin-bottom: 2px;
}

.star {
  display: inline-block;
  width: 75px;
  color: rgb(253, 253, 253);
  border: 1px solid rgb(253, 253, 253);
  border-radius: 2px;
  padding: 0 5px;
  margin-right: 5px;
  font-size: 12px;
}

@media only screen and (max-width: 720px) {
  .container {
    flex-direction: column;
  }
  .openContainer,
  .moreContainer,
  .noticeContainer {
    padding: 20px 0px;
  }
}
