.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  height: 6vh;
  background-color: white;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.navbarItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  width: 100%;
}

.navbarItem a {
  text-decoration: none;
  box-shadow: none;
  font-size: 14px;
}

.leftNav {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.leftNav a {
  padding: 5px 15px;
  text-decoration: none;
  color: gray;
  transition: 0.2s ease;
}

.leftNav a:hover {
  border-radius: 4px;
  color: #7e8dfd;
}

.logo {
  height: 30px;
  margin: 0 20px;
}

.leftNav .logoLink {
  padding: 0;
}

@media only screen and (max-width: 500px) {
  .leftNav a {
    padding: 5px 15px;
  }

  .navbar {
    height: 7vh;
  }

  .navbarItem {
    margin: 0;
  }
}
